Minishell Tests.ods
minishell.dSYM
test.txt
pipex_by_eerika
.DS_Store
Minishell.pdf
transletions.txt
.vscode
minishell
infile
outfile
README.md
minishell.dSYM
README-A.md.objs
.objs
libft/*.o
libft/*.a
.gitpush
Archive.zip
